<style>	
	  		input[type='text']{
	  			border:1px solid #ccc !important;
	  		}
	  </style>
<div class="container">
  <div class="row">
    <div class="col-md-5">
    	&nbsp;
    </div>
    <div class="col-md-7">
    	<div>
    	<span style="font-weight:bold;color:#135a97;font-size:41px;text-align:center;">	Registration</span>
    </div>
<div>
<div ng-show="stepinitial">
	<div style="padding-bottom:10px;">
		Customer FirstName*
		<input type="text" ng-model="reg.firstName" style="border:1px solid #ccc !important;"></input>
	</div>
	<div style="padding-bottom:10px;">
		Customer LastName*
		<input type=text" ng-model="reg.lasttName" style="border:1px solid #ccc !important;"></input>
	</div>

	<div style="padding-bottom:10px;">
		Customer Contact*
		<input type=text" ng-model="reg.contact" style="border:1px solid #ccc !important;"></input>
	</div>

	<div style="padding-bottom:10px;">
		Customer Email*
		<input type=email" ng-model="reg.email" style="border:1px solid #ccc !important;"/input/>
	</div>
	<div style="padding-bottom:10px;">
		Customer Picture*
		<div id="">
			<img  style="height:150px;width:150px;" src="" id="smallImage"></img>
		</div>
		<button type="submit" class="btn btn-primary" ng-click="takePic()">Take Picture</button>
	</div>

	<div style="padding-bottom:10px;">
		Customer Address*
		<textarea ng-model="reg.address" style="border:1px solid #ccc !important;"></textarea>
	</div>
	<div ng-hide="validationreg" style="font-size:18px;color:red;font-weight:bold;padding-bottom:10px;">
		Please go through the inputs once again
	</div>
	<button type="submit" class="btn btn-primary" ng-click="registartionstep1(reg)">Next</button>
</div>

<div ng-show="!stepinitial">

<div style="padding-bottom:10px;">
	UserName
	<input type="text" readonly=true ng-model="reg.username" style="border:1px solid #ccc !important;"></input>
</div>
<div style="padding-bottom:10px;">
	Passwodr
	<input type="password" ng-model="reg.password" style="border:1px solid #ccc !important;"></input>
</div>
<button type="submit" class="btn btn-primary" ng-click="registartionstep2(reg)">Submit</button>
</div>

</div>
<a href="#/signin" style="font-size:22px;">Try here to sign in</a>
</div>
</div>
</div>



