<style>	
	  		input[type='text']{
	  			border:1px solid #ccc !important;
	  		}
	  </style>
<div class="">
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-7">
    	<div>
    	<span style="font-weight:bold;color:#135a97;font-size:41px;text-align:center;">	Registration</span>
    </div>
<div>
<div ng-show="stepinitial">
	<div style="padding-bottom:10px;">
		Lead Date*
		{{reg.leaddate}}
	</div>
	<div style="padding-bottom:10px;">
		Customer FirstName*
		<input type="text" ng-model="reg.firstName" style="border:1px solid #ccc !important;"></input>
	</div>
	<div style="padding-bottom:10px;">
		Customer LastName*
		<input type="text" ng-model="reg.lasttName" style="border:1px solid #ccc !important;"></input>
	</div>

	<div style="padding-bottom:10px;">
		Customer Contact*
		<input type="text" ng-model="reg.contact" style="border:1px solid #ccc !important;"></input>
	</div>

	<div style="padding-bottom:10px;">
		Customer Email*
		<input type="email" ng-model="reg.email" style="border:1px solid #ccc !important;"></input/>
	</div>
	<div style="padding-bottom:10px;">
		Customer Picture*
		<div id="">
			<img  style="height:200px;width:200px;display:none" src="" id="smallImage"></img>
		</div>
		<button type="submit" class="btn btn-primary" ng-click="takePic()">Take Picture</button>
	</div>

	<div>
		Service Type*
		
		<select>
					<option>Broadband connection </option>
					<option>Landline connection </option>
		</select>		

	</div>

	<div style="padding-bottom:10px;">
		Customer Address*
		<textarea ng-model="reg.address" style="border:1px solid #ccc !important;"></textarea>
	</div>
	<div ng-hide="validationreg" style="font-size:18px;color:red;font-weight:bold;padding-bottom:10px;">
		Please go through the inputs once again
	</div>
	<button type="submit" class="btn btn-primary" ng-click="registartionstep1(reg)">Next</button>
</div>

<div ng-show="!stepinitial">

<div style="padding-bottom:10px;">
	Lead ID
	<input type="text" readonly=true ng-model="reg.username" style="border:1px solid #ccc !important;"></input>
</div>
<div style="padding-bottom:10px;">
	Password
	<input type="password" ng-model="reg.password" style="border:1px solid #ccc !important;"></input>
</div>
<button type="submit" class="btn btn-primary" ng-click="registartionstep2(reg)">Submit</button>
</div>

</div>

</div>
</div>
</div>



